<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Book</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let book of books" (click)="onItemSelect(book);">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{book.name}}</h4>
                <p class="list-group-item-text">{{book.description}}</p>
            </div>
            <div class="pull-right">
                <h4 class="list-group-item-heading">INR: {{book.price}}</h4>
            </div>
        </a>
        <app-books-item></app-books-item>
    </div>
</div>